<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <style>
                    body {
                    background-image: url('/img/fitness6.jpg');
                    height: 100vh;
                    color:white;
                    object-fit: cover;
                    }
            </style>

        
<h1>Profile For  <%= user.profile.name %> </h1>

<img src="<%= user.profile.picture %> " 

alt="profile"
/>
<h2>Name: <%= user.profile.name %> </h2>
<h2>Email: <%= user.email %> </h2>
<h2>Address: <%= user.address %> </h2>

<a style="color:black"
    href="/logout">logout</a>








    </body>
</html>