<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
          
            <%- include ../partials/header2 %>
        <h1>Check out the workout details!</h1>
        <h4>Workout name: <%= workout.name %> </h4>
        <h4> Workout duration: <%= workout.duration %> </h4>
        <h4> Workout description: <%= workout.description %> </h4>
        <img
            style="height:400px; width: 500px"
            src="<%=workout.image.picture%>"
            />
    </body>
</html>