<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet/style4.css" type="text/css">
    </head>
    <body>
            <%- include ../partials/header2 %>
        <style>
            /* body {
                background-image: url('/img/fitness10.jpg');
                height: 100%;
              } */
        </style>
        <h1>Welcome to our fitness page.</h1>
        <h4>Best way to keep track of your weight is to exercise!<br> 
            Checkout the workouts we have and join the movement! <br>
            You are only one decision away from having amazing abs!</h4>
            <a href=/calories>Track calories</a>
<div id="workout">
        <% for( let i = 0; i < workout.length; i++ ) { %>
            
            <p><%= workout[i].name %> </p>
            <p><%= workout[i].duration %> </p>
            <p><%= workout[i].description %> </p>
            <img
            style="height:250px; width: 300px"
            src="<%=workout[i].image.picture%>"
            />
            <a href="/track/single-workout/<%=workout[i]._id%>">Checkout the workout!</a>
        <% } %>

</div>
    </body>
</html>