<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project for Colin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheet/style4.css" type="text/css">
    </head>
    <body>
            <%- include ../partials/header2 %>
        <style>
            body {
                text-align: center;
                height: 100%;
                color:black;
                background-color:burlywood;
              }
        </style>
        <h1>Workouts for an amazing body</h1>
        <h3>Best way to keep track of your weight is to exercise.<br> 
            Checkout the workouts we have and join the movement! <br>
            You are only one decision away from having amazing abs!</h3>
            
<div id="workout">
        <% for( let i = 0; i < workout.length; i++ ) { %>
            
            <h3> Workout Name : <%= workout[i].name %> </h3>
            <h3>Workout Duration : <%= workout[i].duration %> </h3>
            <h3>Workout Description: <%= workout[i].description %> </h3>
            <img
            style="height:300px; width: 350px"
            src="<%=workout[i].image.picture%>"
            /><br>
            <a href="/track/single-workout/<%=workout[i]._id%>">Click for the workout details!</a>
        <% } %>

</div>
    </body>
</html>